.superContainer{
  margin-left: 30px;
}

.dogsContainer{
    margin: 15px;
    margin-right: 20px;
    
}

.dogsCard{
    border-radius: 15px;
    background: #4ca387;
    border-bottom: 4px solid #428c74;
    height: 350px;
    width: 220px;
    margin-left: 18%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px 0 rgb(24, 24, 24);
}

.cardName{
    font-size: 20px;
}

.dogsImage{
    border-radius: 10px;
    margin-top: -3px;
    width: 80%;
    max-width: 100%;
}

img{
    width: 180px;
    height: 300px;
    max-height: 150px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: auto;
    border-radius: 10px;
}

.cardTemperaments{
    color: #252931;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    word-wrap: break-word;
}

.cardWeight{
    color: #263849;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;
}

a{
    text-decoration: none;
    width: 100%;
    color: azure;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    color:  #2e3540; 
    animation: rotate 0.7s ease-in-out both;
}
@keyframes rotate
{
    0%
  {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25%
  {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50%
  {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75%
  {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  50%
  {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

}



