.btnPag {
    display: flex;
    justify-content:space-evenly;
    margin: 10px;
    width: 80%;
    margin-left: 10%;
  }

  .btnPag button {
    border-radius: 15px;
    background-color: azure;
    color: #263849;
    border-radius: .3em;
    border: 1px solid;
  }

  .btnPag button:hover {
    color: azure;
    background-color: #35bcbf;

  }